* {
    /* border: 2px solid; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1a1a1a;
}

h1 {
    color: rgb(87, 95, 206);
    margin-left: 10px;
}

.header {
    background-color: rgb(241, 148, 148);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 5px;
}

.menu {
    margin: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.info {
    text-align: center;
    color: #eeeeee;
}

.item {
    background-color: rgb(255, 201, 164);
    border-radius: 40px;
    margin: 20px;
    width: 800px;
}

img {
    border-radius: 5px;
}